@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
    padding: 0;
    margin: 0;
}

:root {
    --grid-lines: 6px solid black;
    font-family: 'Inter', sans-serif;
}

/* Player Form */

.players {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: content-box url('../img/ttt-background.png');
    font-size: 18px;
}

.players form {
    width: 250px;
    height: 350px;
    padding: 20px 100px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.player1-name,
.player2-name {
    display: flex;
    flex-direction: column;
}

.player1-name label,
.player2-name label {
    margin-bottom: 10px;
}

.player1-name input,
.player2-name input {
    appearance: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 0;
    padding-left: 10px;
    font-size: 0.9em;
}

.player1-name input.error,
.player2-name input.error {
    border: 1px solid red;
}

.player-marker {
    display: flex;
    justify-content: space-between;
}

.player-marker select {
    border: 1px solid black;
}

.players-btn {
    margin: 0 auto;
}

.players-btn button {
    background: none;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.9em;
    color: white;
    background-color: black;
    font-weight: bold;
}

.players-btn button:hover {
    cursor: pointer;
}

.not-visible {
    visibility: hidden;
}

span.error {
    color: red;
    font-size: 0.6em;
    margin-top: 3px;
}

.container {
    font-size: 120px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.container h1 {
    font-size: 0.8rem;
}

.hidden {
    display: none;
}

/* Game Board */

.board {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.board div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board div:hover {
    cursor: pointer;
}

.board div:first-of-type {
    border-right: var(--grid-lines);
    border-bottom: var(--grid-lines);
}

.board div:nth-of-type(2) {
    border-bottom: var(--grid-lines);
}

.board div:nth-of-type(3) {
    border-left: var(--grid-lines);
    border-bottom: var(--grid-lines);
}

.board div:nth-of-type(4) {
    border-right: var(--grid-lines);
}

.board div:nth-of-type(6) {
    border-left: var(--grid-lines);
}

.board div:nth-of-type(7) {
    border-top: var(--grid-lines);
    border-right: var(--grid-lines);
}

.board div:nth-of-type(8) {
    border-top: var(--grid-lines);
}

.board div:last-of-type {
    border-left: var(--grid-lines);
    border-top: var(--grid-lines);
}

/* Scoreboard */

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-msg {
    font-size: 0.7em;
}

.x-red {
    color:  red;
}

.o-blue {
    color: blue;
}